h5{
    color: blueviolet;
    text-decoration : underline;
    font-family: monospace;
    font-size: 40px;
}

h6 {
    border-style: dashed;
    border-width: 3px;
    border-left-width: 3px;
    border-color: red;
    padding: 10px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid powderblue;
    padding: 30px;
}

div {
    padding: 30px;
}

.right-justify {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

h4{
    font-family: 'Nothing You Could Do';font-size: 40px;
}
